{% extends "equipment/base.html" %}

{% block title %}{{ block.super }} - Gear{% endblock title %}

{% block content %}
<h2>{% if in_category %}{{ category.name }} {% endif %}Gear</h2>
{% if gear_list %}
    {% if not in_category %}
        {% if flattened == 'true' %}
        <a href="?order_by={{ order_by }}" class="no-print">Group by Categories</a>
        {% else %}
        <a href="?order_by={{ order_by }}&flattened=true" class="no-print">Flatten Categories</a>
        {% endif %}
    {% endif %}
    {% include "equipment/gear_list_header.html" %}
    {% if flattened == 'true' or in_category %}
        {% for gear in gear_list %}
            {% include "equipment/gear_list_line.html" with gear=gear %}
        {% endfor %}
    {% else %}
        {% regroup gear_list|dictsort:"equipment.category.id" by equipment.category as categories %}
        {% for category in categories %}
            <tr class="item_category"><td colspan=12><a href="{% url 'equipment:gear_category' category.grouper.id %}">{{ category.grouper.name }}</a></td></tr>
            {% for gear in category.list %}
                {% include "equipment/gear_list_line.html" with gear=gear %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </table></div>
{% else %}
    <p>No items.</p>
{% endif %}
{% endblock content %}