{% extends "equipment/base.html" %}

{% block title %}{{ block.super }} - Starships{% endblock title %}

{% block content %}
<h1>Starships</h1>
{% if starship_list %}
    {% if flatened == 'true' %}
    <a href="?order_by={{ order_by }}">Group by Categories</a>
    {% else %}
    <a href="?order_by={{ order_by }}&flatened=true">Flaten Categories</a>
    {% endif %}
    {% include "equipment/starship_list_header.html" %}
    {% if flatened == 'true' %}
        {% for starship in starship_list %}
            {% include "equipment/starship_list_line.html" with starship=starship %}
        {% endfor %}
    {% else %}
        {% regroup starship_list|dictsort:"category.id" by category as categories %}
        {% for category in categories %}
            <tr class="item_category"><td colspan=30><a href="{% url 'equipment:starship_category' category.grouper.id %}">{{ category.grouper.name }}</a></td></tr>
            {% for starship in category.list %}
                {% include "equipment/starship_list_line.html" with starship=starship %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </table></div>
{% else %}
    <p>No starships.</p>
{% endif %}
{% endblock content %}