{% extends "equipment/base.html" %}

{% block title %}{{ block.super }} - Weapons{% endblock title %}

{% block content %}
<h2>{% if in_category %}{{ category.name }} {% endif %}Weapons</h2>
{% if weapon_list %}
    {% if not in_category %}
        {% if flattened == 'true' %}
        <a href="?order_by={{ order_by }}" class="no-print">Group by Categories</a>
        {% else %}
        <a href="?order_by={{ order_by }}&flattened=true" class="no-print">Flatten Categories</a>
        {% endif %}
    {% endif %}
    {% include "equipment/weapon_list_header.html" %}
    {% if flattened == 'true' or in_category%}
        {% for weapon in weapon_list %}
            {% include "equipment/weapon_list_line.html" with weapon=weapon %}
        {% endfor %}
    {% else %}
        {% regroup weapon_list|dictsort:"category.id" by category as categories %}
        {% for category in categories %}
            <tr class="item_category"><td colspan=12><a href="{% url 'equipment:weapon_category' category.grouper.id %}">{{ category.grouper.name }}</a></td></tr>
            {% for weapon in category.list %}
                {% include "equipment/weapon_list_line.html" with weapon=weapon %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </table></div>
{% else %}
    <p>No weapons.</p>
{% endif %}
{% endblock content %}