{% load sort_table_by %}
<div  class="itemtable">
<table>
<tr class="sortable_header">
    <td><a href="{% sort_table_by request 'name' %}">Weapon</a></td>
    <td><a href="{% sort_table_by request 'skill' %}">Skill</a></td>
    <td><a href="{% sort_table_by request 'damage' %}">Dam</a></td>
    <td><a href="{% sort_table_by request 'critical' %}">Crit</a></td>
    <td><a href="{% sort_table_by request 'weapon_range' %}">Range</a></td>
    <td><a href="{% sort_table_by request 'encumbrance' %}">Encum</a></td>
    <td><a href="{% sort_table_by request 'hard_points' %}">HP</a></td>
    <td><a href="{% sort_table_by request 'equipment__price' %}">Price</a></td>
    <td><a href="{% sort_table_by request 'equipment__rarity' %}">Rarity</a></td>
    <td>Special</td>
    <td><a href="{% sort_table_by request 'index' %}">Index</a></td>
</tr>
