{% extends "equipment/base.html" %}

{% block content %}
<div class="item_block">
    <span class="item_name">{{ weapon.name }}</span><br />
    {% if weapon.image %}<img class="item_image" src="{{ weapon.image.url }}" />{% endif %}
    <div class="item_detail">
        {% if weapon.aka %}<span class="item_titles">AKA:</span> {{ weapon.aka }}<br />{% endif %}
        <span class="item_titles">Skill:</span> {{ weapon.get_weapon_skill_display }}<br />
        <span class="item_titles">Damage:</span> {{ weapon.display_damage }}<br />
        <span class="item_titles">Critical:</span> {{ weapon.display_crit }}<br />
        <span class="item_titles">Range:</span> {{ weapon.get_weapon_range_display }}<br />
        <span class="item_titles">Encumbrance:</span> {{ weapon.encumbrance }}<br />
        <span class="item_titles">HP:</span> {{ weapon.display_hp }}<br />
        {% if weapon.equipment %}<span class="item_titles">Price:</span> {{ weapon.equipment.display_price }}<br />{% endif %}
        {% if weapon.equipment %}<span class="item_titles">Rarity:</span> {{ weapon.equipment.rarity }}<br />{% endif %}
        <span class="item_titles">Special:</span> {{ weapon.special }}<br />
        {% if weapon.equipment %}<span class="item_titles">Category:</span> {{ weapon.equipment.category.name }}<br />{% endif %}
        <span class="item_titles">Indexes:</span> {{ weapon.indexes }}<br />
    </div>
</div>
{% if weapon.notes %}
<div class="note_block">
<span class="item_titles">Notes:</span><span class="item_notes"> {{ weapon.notes }}</span>
</div>
{% endif %}

{% endblock content %}
