.item_block {
  width: 400px;
}
.adversary_characteristics {
  width: 400px;
  height: 62px;
  background-image: url(/static/character/images/character_characteristics.png);
  background-size: 400px;
  background-repeat: no-repeat;
  position: relative;
}

.stat_block {
  background-image: url(/static/character/images/character_stat.png);
  background-size: 80px;
  background-repeat: no-repeat;
  width: 80px;
  height: 41px;
  position: relative;
  margin: .2em;
  display: inline-block;
  
}
.stat_title {
  color: white;
  font-size: .5em;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10%;
}
.stats {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.details {
  clear: both;
}

.stat_value {
  font-size: 1.5em;
  position: absolute;
  width:100%;
  top: 29%;
  text-align: center;
}

.adversary_characteristics .brawn {
  position: absolute;
  left: 9.5%;
  top: 30%;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
}
.adversary_characteristics .agility {
  position: absolute;
  left: 25%;
  top: 30%;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
}
.adversary_characteristics .intellect {
  position: absolute;
  left: 41%;
  top: 30%;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
}
.adversary_characteristics .cunning {
  position: absolute;
  left: 57%;
  top: 30%;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
}
.adversary_characteristics .willpower {
  position: absolute;
  left: 72.5%;
  top: 30%;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
}
.adversary_characteristics .presence {
  position: absolute;
  left: 88.5%;
  top: 30%;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
}
