{% load sort_table_by %}
<div  class="itemtable">
<table>
<tr class="sortable_header">
    <td><a href="{% sort_table_by request 'name' %}">Adversary</a></td>
    <td><a href="{% sort_table_by request 'level' %}">Level</a></td>
<!--    <td><a href="{% sort_table_by request 'brawn' %}"></a>B</td>
    <td><a href="{% sort_table_by request 'agility' %}"></a>A</td>
    <td><a href="{% sort_table_by request 'intellect' %}"></a>I</td>
    <td><a href="{% sort_table_by request 'cunning' %}"></a>C</td>
    <td><a href="{% sort_table_by request 'willpower' %}"></a>W</td>
    <td><a href="{% sort_table_by request 'presence' %}"></a>P</td>
    <td><a href="{% sort_table_by request 'soak_value' %}"></a>S</td>
    <td><a href="{% sort_table_by request 'wound_threshold' %}"></a>WT</td>
    <td><a href="{% sort_table_by request 'strain_threshold' %}"></a>ST</td>
    <td><a href="{% sort_table_by request 'melee_defense' %}"></a>M</td>
    <td><a href="{% sort_table_by request 'ranged_defense' %}"></a>R</td> -->
    <td><a href="{% sort_table_by request '' %}"></a>Skills</td>
    <td><a href="{% sort_table_by request '' %}"></a>Talents</td>
    <td><a href="{% sort_table_by request '' %}"></a>Abilities</td>
    <td><a href="{% sort_table_by request '' %}"></a>Equipment</td>
    <td><a href="{% sort_table_by request 'index' %}">Index</a></td>
</tr>
