{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ block.super }} - Equipment{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'adversaries/style.css' %}" />{% endblock %}
{% block content %}{{ block.super }}{% endblock %}
{% block sb-adversaries %}
{{ block.super }}
<ul>
<li><a href="{% url 'adversaries:adversaries' %}">Adversaries</a></li>
<ul>
<li><a href="{% url 'adversaries:gear' %}">Gear</a></li>
<li><a href="{% url 'adversaries:weapons' %}">Weapons</a></li>
<li><a href="{% url 'adversaries:armor' %}">Armor</a></li>
</ul>
<li><a href="{% url 'adversaries:creatures' %}">Creatures</a></li>
<li><a href="{% url 'adversaries:creatureweapons' %}">Creature Weapons</a></li>
</ul>
{% endblock %}
