{% extends "adversaries/base.html" %}

{% block title %}{{ block.super }} - Creature Weapons{% endblock title %}

{% block content %}
<h2>Creature Weapons</h2>
{% if creatureweapon_list %}
    {% include "adversaries/creatureweapon_list_header.html" %}
    {% for creatureweapon in creatureweapon_list %}
    {% include "adversaries/creatureweapon_list_line.html" with creatureweapon=creatureweapon %}
    {% endfor %}
    </table></div>
{% else %}
    <p>No creature weapons.</p>
{% endif %}
{% endblock content %}