<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'books/style.css' %}" />
    <title>{% block title %}FFG Star Wars Index{% endblock %}</title>
</head>

<body>
    <div id="header" class="no-print">
        <h1>FFG Star Wars RPG Index</h1>
    </div>
    <div class="colmask leftmenu">
        <div class="colleft">
            <div class="col1">
                {% block content %}{% endblock %}
            </div>

            <div class="col2 no-print">
                {% block sidebar %}
                <ul>
                    <li><a href="{% url 'books:index' %}">Home</a></li>
                    <li><a href="{% url 'books:items' %}">Items</a></li>
                    <li><a href="{% url 'books:items_bc' %}">Items by Category</a></li>
                    <li><a href="{% url 'books:weapons' %}">Weapons</a></li>
                    <li><a href="{% url 'books:weapons_bc' %}">Weapons by Category</a></li>
                    <li><a href="{% url 'books:armors' %}">Armor</a></li>
                    <li><a href="{% url 'books:attachments' %}">Attachments</a></li>
                    <li><a href="{% url 'books:attachments_bc' %}">Attachments by Category</a></li>
                </ul>
                {% endblock %}
            </div>

        </div>
    </div>
</body>
</html>