{% extends "base.html" %}

{% block content %}

<div class="item_block">
<span class="item_name">{{ armor.name }}</span><br />
{% if armor.image %}<img class="item_image" src="{{ armor.image.url }}" />{% endif %}
<span class="item_titles">Defense:</span> {{ armor.defense }}<br />
<span class="item_titles">soak:</span> {{ armor.soak }}<br />
<div class="item_detail"><span class="item_titles">Price:</span> {{ armor.display_price }}<br />
<span class="item_titles">Encumbrance:</span> {{ armor.display_encum }}<br />
<span class="item_titles">HP:</span> {{ weapon.display_hp }}<br />
<span class="item_titles">Rarity:</span> {{ armor.display_rarity }}<br />
<span class="item_titles">Indexes:</span> {{ armor.indexes }}<br />
</div>
</div>

{% endblock content %}