{% extends "base.html" %}

{% block title %}{{ block.super }} - Armor{% endblock title %}

{% block content %}
<h1>Armor</h1>
{% if armor_list %}
    {% include "books/armor_list_header.html" %}
    {% if reverse %}
    {% for armor in armor_list|dictsortreversed:order_by %}
    {% include "books/armor_list_line.html" with armor=armor %}
    {% endfor %}
    {% else %}
    {% for armor in armor_list|dictsort:order_by %}
    {% include "books/armor_list_line.html" with armor=armor %}
    {% endfor %}
    {% endif %}
    </table></div>
{% else %}
    <p>No armor.</p>
{% endif %}
{% endblock content %}