{% extends "books/base.html" %}


{% block content %}
{% if book_list %}
    <div  class="itemtable">
    <table>
    <tr>
        <td>Book</td><td>System</td><td>Product Key</td><td>Initials</td>
    </tr>
    {% for book in book_list %}            
        <tr>
            <td class="item_name"><a href="{% url 'books:book' book.id %}">{{ book.name }}</a></td>
            <td>{{ book.system }}</td>
            <td>{{ book.product_key }}</td>
            <td>{{ book.initials }}</td>
        </tr>
    {% endfor %}
    </table></div>
{% else %}
    <p>No books.</p>
{% endif %}
{% endblock content %}