{% extends "books/base.html" %}

{% block content %}
<h1>{{ book.name }}</h1>
{% if gear_list %}
<h3>Gear</h3>
    {% include "equipment/gear_list_header.html" %}
    {% for gear in gear_list %}            
    {% include "equipment/gear_list_line.html" with gear=gear %}
    {% endfor %}
    </table></div>
    <div class="page-break"></div>
{% endif %}
{% if weapon_list %}
<h3>Weapons</h3>
    {% include "equipment/weapon_list_header.html" %}
    {% for weapon in weapon_list %}            
    {% include "equipment/weapon_list_line.html" with weapon=weapon %}
    {% endfor %}
    </table></div>
{% endif %}
{% if armor_list %}
<h3>Armor</h3>
    {% include "equipment/armor_list_header.html" %}
    {% for armor in armor_list %}            
    {% include "equipment/armor_list_line.html" with armor=armor %}
    {% endfor %}
    </table></div>
{% endif %}
{% if attachment_list %}
<h3>Attachments</h3>
    {% include "equipment/attachment_list_header.html" %}
    {% for attachment in attachment_list %}            
    {% include "equipment/attachment_list_line.html" with attachment=attachment %}
    {% endfor %}
    </table></div>
{% endif %}
{% if vehicle_list %}
<h3>Vehicles</h3>
    {% include "transportation/vehicle_list_header.html" %}
    {% for vehicle in vehicle_list %}            
    {% include "transportation/vehicle_list_line.html" with vehicle=vehicle %}
    {% endfor %}
    </table></div>
{% endif %}
{% if starship_list %}
<h3>Starships</h3>
    {% include "transportation/starship_list_header.html" %}
    {% for starship in starship_list %}            
    {% include "transportation/starship_list_line.html" with starship=starship %}
    {% endfor %}
    </table></div>
{% endif %}
{% if skill_list %}
<h3>Skills</h3>
    {% include "character/skill_list_header.html" %}
    {% for skill in skill_list %}
    {% include "character/skill_list_line.html" with skill=skill %}
    {% endfor %}
    </table></div>
{% endif %}
{% if talent_list %}
<h3>Talents</h3>
     {% include "character/talent_list_header.html" %}
     {% for talent in talent_list %}
     {% include "character/talent_list_line.html" with talent=talent %}
     {% endfor %}
     </table></div>
{% endif %}
{% if ability_list %}
<h3>Abilities</h3>
    {% include "character/ability_list_header.html" %}
    {% for ability in ability_list %}
    {% include "character/ability_list_line.html" with ability=ability %}
    {% endfor %}
    </table></div>
{% endif %}
{% if adversary_list %}
<h3>Adversaries</h3>
    {% include "adversaries/adversary_list_header.html" %}
        {% for adversary in adversary_list %}
            {% include "adversaries/adversary_list_line.html" with adversary=adversary %}
        {% endfor %}
    </table></div>
{% endif %}
{% if creature_list %}
<h3>Creatures</h3>
    {% include "adversaries/adversary_list_header.html" %}
        {% for adversary in creature_list %}
            {% include "adversaries/adversary_list_line.html" with adversary=adversary %}
        {% endfor %}
    </table></div>
{% endif %}

{% endblock content %}