{% extends "base.html" %}

{% block content %}

<div class="item_block">
    <span class="item_name">{{ item.name }}</span><br />
    {% if item.image %}<img class="item_image" src="{{ item.image.url }}" />{% endif %}
    <div class="item_detail">
        {% if item.aka %}<span class="item_titles">AKA:</span> {{ item.aka }}<br />{% endif %}
        <span class="item_titles">Price:</span> {{ item.display_price }}<br />
        <span class="item_titles">Encumbrance:</span> {{ item.display_encum }}<br />
        <span class="item_titles">Rarity:</span> {{ item.display_rarity }}<br />
        <span class="item_titles">Category:</span> {{ item.category.name }}<br />
        <span class="item_titles">Indexes:</span> {{ item.indexes }}<br />
    </div>
</div>

{% endblock content %}