{% extends "books/base.html" %}

{% block title %}{{ block.super }} - Items{% endblock title %}

{% block content %}
<h1>Items</h1>
{% if item_list %}
    {% if flatened == 'true' %}
    <a href="?order_by={{ order_by }}">Group by Categories</a>
    {% else %}
    <a href="?order_by={{ order_by }}&flatened=true">Flaten Categories</a>
    {% endif %}
    {% include "books/item_list_header.html" %}
    {% if flatened == 'true' %}
        {% for item in item_list %}
            {% include "books/item_list_line.html" with item=item %}
        {% endfor %}
    {% else %}
        {% regroup item_list|dictsort:"category.id" by category as categories %}
        {% for category in categories %}
            <tr class="item_category"><td colspan=12><a href="{% url 'books:item_category' category.grouper.id %}">{{ category.grouper.name }}</a></td></tr>
            {% for item in category.list %}
                {% include "books/item_list_line.html" with item=item %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </table></div>
{% else %}
    <p>No items.</p>
{% endif %}
{% endblock content %}