{% extends "base.html" %}

{% block title %}{{ block.super }} - Items{% endblock title %}

{% block content %}
<h1>Items</h1>
{% if item_list %}
    {% include "books/item_list_header.html" %}
    {% if reverse %}
        {% for item in item_list|dictsortreversed:order_by %}
        {% include "books/item_list_line.html" with item=item %}
        {% endfor %}
    {% else %}
        {% for item in item_list|dictsort:order_by %}
        {% include "books/item_list_line.html" with item=item %}
        {% endfor %}
    {% endif %}
    </table></div>
{% else %}
    <p>No items.</p>
{% endif %}
{% endblock content %}