{% if category.item_set.count > 0 %}
<tr class="item_category"><td colspan=30><a href="{% url 'books:starship_category' category.id %}">{{ category.name }}</a></td></tr>
{% if reverse %}
    {% for starship in category.starship_set.all|dictsortreversed:order_by %}
    {% include "books/starship_list_line.html" with starship=starship %}
    {% endfor %}
{% else %}
    {% for starship in category.starship_set.all|dictsort:order_by %}
    {% include "books/starship_list_line.html" with starship=starship %}
    {% endfor %}
{% endif %}
{% endif %}
