{% extends "base.html" %}

{% block content %}

<div class="item_block">
    <span class="item_name">{{ vehicle.name }}</span><br />
    {% if vehicle.image %}<img class="item_image" src="{{ vehicle.image.url }}" />{% endif %}
    <div class="vehicle_stats">
        <div class="silhoutte"><span class="item_titles">Silhoutte:</sapn> <span class="item_value">{{ vehicle.silhoutte }}</span></div>
        <div class="speed"><span class="item_titles">Speed:</sapn> <span class="item_value">{{ vehicle.speed }}</span></div>
        <div class="handling"><span class="item_titles">Handling:</sapn> <span class="item_value">{{ vehicle.display_handling }}</span></div>
        <div class="defense"><span class="item_titles">Defense:</sapn> <span class="item_value">{{ vehicle.defense }}</span></div>
        <div class="armor"><span class="item_titles">Armor:</sapn> <span class="item_value">{{ vehicle.armor_value }}</span></div>
        <div class="hull_trauma"><span class="item_titles">Hull Trauma:</sapn> <span class="item_value">{{ vehicle.hull_trauma }}</span></div>
        <div class="system_strain"><span class="item_titles">System Strain:</sapn> <span class="item_value">{{ vehicle.system_strain }}</span></div>
    </div>
    <div class="item_detail">
        {% if vehicle.aka %}<span class="item_titles">AKA:</span> {{ vehicle.aka }}<br />{% endif %}
        <span class="item_titles">Vehicle Type/Model:</span> {{ vehicle.category.name }}/{{ vehicle.model }}<br />
        <span class="item_titles">Manufacturer:</span> {{ vehicle.manufacturer }}<br />
        <span class="item_titles">Maximum Altitude:</span> {{ vehicle.display_altitude }}<br />
        <span class="item_titles">Sensor Range:</span> {{ vehicle.sensor_range.name }}<br />
        <span class="item_titles">Crew:</span> {{ vehicle.crew_detail }}<br />
        <span class="item_titles">Encumbrance Capacity:</span> {{ vehicle.encumbrance }}<br />
        <span class="item_titles">Pasenger Capacity:</span> {{ vehicle.passenger }}<br />
        <span class="item_titles">Cost/Rarity:</span> {{ vehicle.display_price }} credits/{{ vehicle.display_rarity }}<br />
        <span class="item_titles">Customization Hard Points:</span> {{ vehicle.hard_points }}<br />
        <span class="item_titles">Weapons:</span> {{ vehicle.weapon_count }}<br />
        <span class="item_titles">Indexes:</span> {{ vehicle.indexes }}<br />
    </div>
</div>

{% endblock content %}