<div  class="itemtable">
<table>
<tr class="sortable_header">
    <td><a href="?order_by=name">Item</a></td>
    <td><a href="?order_by=silhoutte">Sil</a></td>
    <td><a href="?order_by=speed">Spd</a></td>
    <td><a href="?order_by=handling">Hand</a></td>
    <td><a href="?order_by=">Def</a></td>
    <td><a href="?order_by=armor_value">A</a></td>
    <td><a href="?order_by=hull_trauma">HT</a></td>
    <td><a href="?order_by=system_strain">SS</a></td>
    <td><a href="?order_by=manufacturer">Man</a></td>
    <td><a href="?order_by=max_altitude">Alt</a></td>
    <td><a href="?order_by=sensor_range__id">Sensor</a></td>
    <td><a href="?order_by={% if order_by == 'crew' and not reverse %}-{% endif %}crew">Crew</a></td>
    <td><a href="?order_by=encumbrance">Encum</a></td>
    <td><a href="?order_by=passenger">Pass</a></td>
    <td><a href="?order_by=price">Cost</a></td>
    <td><a href="?order_by=rarity">Rarity</a></td>
    <td><a href="?order_by=hard_points">HP</a></td>
    <td><a href="?order_by=weapon_count">Wep</a></td>
    <td>Index</td>
</tr>
