<tr>
    <td class="item_name"><a href="{% url 'books:weapon' weapon.id %}">{{ weapon.name }}</a></td>
    <td class="weapon_skill">{{ weapon.weapon.skill }}</td>
    <td>{{ weapon.weapon.display_damage }}</td>
    <td>{{ weapon.weapon.display_crit }}</td>
    <td class="weapon_range">{{ weapon.weapon.range_band.name }}</td>
    <td class="weapon_encum">{{ weapon.weapon.display_encum }}</td>
    <td>{{ weapon.weapon.display_hp }}</td>
    <td>{{ weapon.display_price }}</td>
    <td>{{ weapon.display_rarity }}</td>
    <td class="weapon_special">{{ weapon.weapon.special }}</td>
    <td>{{ weapon.indexes }}</td>
</tr>
