<div  class="itemtable">
<table>
<tr class="sortable_header">
    <td><a href="?order_by=name">Weapon</a></td>
    <td><a href="?order_by=skill.name">Skill</a></td>
    <td><a href="?order_by=damage">Dam</a></td>
    <td><a href="?order_by=critical">Crit</a></td>
    <td><a href="?order_by=range_band.id">Range</a></td>
    <td><a href="?order_by=encumbrance">Encum</a></td>
    <td><a href="?order_by=hard_points">HP</a></td>
    <td><a href="?order_by=price">Price</a></td>
    <td><a href="?order_by=rarity">Rarity</a></td>
    <td>Special</td>
    <td>Index</td>
</tr>
