{% extends "books/base.html" %}

{% block title %}{{ block.super }} - Weapons{% endblock title %}

{% block content %}
<h1>Weapons</h1>
{% if weapon_list %}
    {% include "books/weapon_list_header.html" %}
    {% if reverse %}
        {% for weapon in weapon_list|dictsortreversed:order_by %}
        {% include "books/weapon_list_line.html" with weapon=weapon %}
        {% endfor %}
    {% else %}
        {% for weapon in weapon_list|dictsort:order_by %}
        {% include "books/weapon_list_line.html" with weapon=weapon %}
        {% endfor %}
    {% endif %}
    </table></div>
{% else %}
    <p>No weapons.</p>
{% endif %}
{% endblock content %}