{% extends "base.html" %}
{% block content %}
Welcome to the (hopefully) master index of all things for the Star Wars Role Playing Systems by <a href="http://fantasyflightgames.com">Fantasy Flight Games</a>.  You can start you journey by selecting "Books" on the left, and then explore in to various sections of Gear, Weapons, and Vehicles.  This is, and probably always will be, a work in progress.  We hope you find it useful in your RPG adventures.  If you have any comments, suggestions, or corrections feel free to contact us at <a href="mailto:swrpg@viluppo.net">our email</a>.

{% if blog_list %}
<h3>Blog Posts</h3>
{% for blog_entry in blog_list %}
{% include "blog/blog_entry.html" %}
{% endfor %}
{% endif %}
{% endblock %}