{% extends "character/base.html" %}

{% block content %}

<div class="item_block">
    <span class="item_name">{{ species.name }}</span><br />
    {% if species.image %}<img class="item_image" src="{{ species.image.url }}" />{% endif %}
    <div class="item_detail">
        {% if species.aka %}<span class="item_titles">AKA:</span> {{ species.aka }}<br />{% endif %}
        <span class="item_titles">Abilities:</span> {{ species.description }}<br />
        <span class="item_titles">Indexes:</span> {{ species.indexes }}<br />
    </div>
</div>
{% if species.notes %}
<div class="note_block">
<span class="item_titles">Notes:</span><span class="item_notes"> {{ species.notes }}</span>
</div>
{% endif %}

{% endblock content %}