{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ block.super }}{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'transportation/style.css' %}" />{% endblock %}
{% block content %}{{ block.super }}{% endblock %}
{% block sb-transportation %}
{{ block.super }}
<ul>
<li><a href="{% url 'transportation:vehicles' %}">Vehicles</a></li>
<li><a href="{% url 'transportation:starships' %}">Starships</a></li>
<li><a href="{% url 'transportation:vehicleattachments' %}">Vehicle Attachments</a></li>
</ul>
{% endblock %}
