{% extends "transportation/base.html" %}

{% block title %}{{ block.super }}{% endblock title %}

{% block content %}
<h2>Transportation</h2>
{% if category_list %}
    {% regroup category_list by model_info as models %}
    {% for model in models %}
        <div class="model_list"><a href="{% url 'transportation:'|add:model.grouper.name|lower|add:'s' %}" class="model_link">{{ model.grouper.name }}</a>{% for category in model.list %}{% if forloop.first and forloop.last %}{% else %}{% if forloop.first %}: {% endif %}
            <a href="{% url 'transportation:'|add:model.grouper.name|lower|add:'_category' category.id %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <p>No transportation.</p>
{% endif %}
{% endblock content %}