{% extends "transportation/base.html" %}

{% block title %}{{ block.super }} - Starships{% endblock title %}

{% block content %}
<h2>{% if in_category %}{{ category.name }} {% endif %}Starships</h2>
{% if starship_list %}
    {% if not in_category %}
    {% if flattened == 'true' %}
    <a href="?order_by={{ order_by }}" class="no-print">Group by Categories</a>
    {% else %}
    <a href="?order_by={{ order_by }}&flattened=true" class="no-print">Flatten Categories</a>
    {% endif %}
    {% endif %}
    {% include "transportation/starship_list_header.html" %}
    {% if flattened == 'true' or in_category %}
        {% for starship in starship_list %}
            {% include "transportation/starship_list_line.html" with starship=starship %}
        {% endfor %}
    {% else %}
        {% regroup starship_list|dictsort:"equipment.category.id" by equipment.category as categories %}
        {% for category in categories %}
            <tr class="item_category"><td colspan=30><a href="{% url 'transportation:starship_category' category.grouper.id %}">{{ category.grouper.name }}</a></td></tr>
            {% for starship in category.list %}
                {% include "transportation/starship_list_line.html" with starship=starship %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </table></div>
{% else %}
    <p>No starships.</p>
{% endif %}
{% endblock content %}