<tr>
    <td class="item_name"><a href="{% url 'transportation:starship' starship.id %}">{{ starship.name }}</a></td>
    <td>{{ starship.silhoutte }}</td>
    <td>{{ starship.speed }}</td>
    <td>{{ starship.display_handling }}</td>
    <!-- td>{{ starship.defense }}</td>
    <td>{{ starship.armor_value }}</td>
    <td>{{ starship.hull_trauma }}</td>
    <td>{{ starship.system_strain }}</td -->
    <td>{{ starship.vehicle_model }}</td>
    <td>{{ starship.manufacturer }}</td>
    <td>{{ starship.display_navicomputer }}</td>
    <!-- td>{{ starship.display_altitude }}</td>
    <td>{{ starship.get_sensor_range_display }}</td -->
    <td>{{ starship.crew }}</td>
    <td>{{ starship.encumbrance }}</td>
    <td>{{ starship.passenger }}</td>
    <td>{{ starship.equipment.display_price }}</td>
    <td>{{ starship.equipment.rarity }}</td>
    <td>{{ starship.hard_points }}</td>
    <td>{{ starship.weapon_count }}</td>
    <td>{{ starship.indexes }}</td>
</tr>
