{% extends "transportation/base.html" %}

{% block title %}{{ block.super }} - Vehicles{% endblock title %}

{% block content %}
<h2>{% if in_category %}{{ category.name }} {% endif %}Vehicles</h2>
{% if vehicle_list %}
    {% if not in_category %}
    {% if flattened == 'true' %}
    <a href="?order_by={{ order_by }}" class="no-print">Group by Categories</a>
    {% else %}
    <a href="?order_by={{ order_by }}&flattened=true" class="no-print">Flatten Categories</a>
    {% endif %}
    {% endif %}
    {% include "transportation/vehicle_list_header.html" %}
    {% if flattened == 'true' or in_category %}
        {% for vehicle in vehicle_list %}
            {% include "transportation/vehicle_list_line.html" with vehicle=vehicle %}
        {% endfor %}
    {% else %}
        {% regroup vehicle_list|dictsort:"category.id" by category as categories %}
        {% for category in categories %}
            <tr class="item_category"><td colspan=30><a href="{% url 'transportation:vehicle_category' category.grouper.id %}">{{ category.grouper.name }}</a></td></tr>
            {% for vehicle in category.list %}
                {% include "transportation/vehicle_list_line.html" with vehicle=vehicle %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </table></div>
{% else %}
    <p>No vehicles.</p>
{% endif %}
{% endblock content %}