<tr>
    <td class="item_name"><a href="{% url 'transportation:vehicle' vehicle.id %}">{{ vehicle.name }}</a></td>
    <td>{{ vehicle.silhoutte }}</td>
    <td>{{ vehicle.speed }}</td>
    <td>{{ vehicle.display_handling }}</td>
    <!-- td>{{ vehicle.defense }}</td>
    <td>{{ vehicle.armor_value }}</td>
    <td>{{ vehicle.hull_trauma }}</td>
    <td>{{ vehicle.system_strain }}</td -->
    <td>{{ vehicle.vehicle_model }}</td>
    <td>{{ vehicle.manufacturer }}</td>
    <!-- td>{{ vehicle.display_altitude }}</td>
    <td>{{ vehicle.get_sensor_range_display }}</td -->
    <td>{{ vehicle.crew }}</td>
    <td>{{ vehicle.encumbrance }}</td>
    <td>{{ vehicle.passenger }}</td>
    <td>{{ vehicle.display_price }}</td>
    <td>{{ vehicle.rarity }}</td>
    <td>{{ vehicle.hard_points }}</td>
    <td>{{ vehicle.weapon_count }}</td>
    <td>{{ vehicle.indexes }}</td>
</tr>
