{% extends "transportation/base.html" %}

{% block title %}{{ block.super }} - Weapons{% endblock title %}

{% block content %}
<h2>{% if in_category %}{{ category.name }} {% endif %}Vehicle Attachments</h2>
{% if vehicleattachment_list %}
    {% if not in_category %}
    {% if flatened == 'true' %}
    <a href="?order_by={{ order_by }}" class="no-print">Group by Categories</a>
    {% else %}
    <a href="?order_by={{ order_by }}&flattened=true" class="no-print">Flatten Categories</a>
    {% endif %}
    {% endif %}
    {% include "transportation/vehicleattachment_list_header.html" %}
    {% if flattened == 'true' or in_category %}
        {% for vehicleattachment in vehicleattachment_list %}
            {% include "transportation/vehicleattachment_list_line.html" with vehicleattachment=vehicleattachment %}
        {% endfor %}
    {% else %}
        {% regroup vehicleattachment_list|dictsort:"category.id" by category as categories %}
        {% for category in categories %}
            <tr class="item_category"><td colspan=12><a href="{% url 'transportation:vehicleattachment_category' category.grouper.id %}">{{ category.grouper.name }}</a></td></tr>
            {% for vehicleattachment in category.list %}
                {% include "transportation/vehicleattachment_list_line.html" with vehicleattachment=vehicleattachment %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </table></div>
{% else %}
    <p>No vehicleattachments.</p>
{% endif %}
{% endblock content %}